/**{ margin: 0; padding: 0; font-family: helvetica, sans-serif;}*/

body{
	background: #E9ECEF;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calculatorBody{
	display: block;
	justify-content: center;
	background: #2E2E2E;
	height: 410px;
	width: 280px;
	border-radius: 10px;
	padding: 10px;
	border: solid #1E1E1E;
	border-width: 0px 2px 3px 0px;
}

#keyBoard{
	grid-auto-flow: dense;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 55px; 
	grid-gap: 8px;
}

#calculatorBody input{
	margin: 10% 0% 10% 2.5%;
	width: 90%;
	height: 40px;
	border-radius: 7px;
	text-align: right;
	font-size: 1.2em;
	border-width: 4px 3px 3px 4px;
	background-color: #DDFCAE;
	color: #636363;
}

#calculatorBody button{
	background: #343A40;
	color: #D3D3D3;
	border: solid black;
	border-width: 0px 1px 1px 0px;
	border-radius: 5px;
	font-size: 1.2em;
	transition: all 0.1s;
	display: flex;
	align-items: center;
	justify-content: center;
}
#calculatorBody button:hover {color: green;} 
#calculatorBody button:active{background-color: #23272B; border: #343A40}


.span-row 	 {grid-row: span 2;}
.span-column {grid-column: span 2;}




